.nav-link {
    color:white;
    font-size: 20px;
    padding-top: 10px;
}

.cardscards{
    background-color:khaki
}
.carousel-inner {
    padding:5px;
    background-color: cadetblue;
}
.box{
    border:1px solid aqua;
    background-color: aqua;
    height:250px;
    width:280px;
}
button{
    background-color: blue;
    color:white;
}

